
.navbar-brand {
    color: #9932cc !important;
    font-weight: bold !important;
}

.nav-item {
    text-align: right;
}

.container-fluid {
    color:#fff !important;
}

body {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#cbccc8)) fixed;
  }

.box1 {
    height: active;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
  padding: 20px;
  background: rgb(228, 235, 236);
}

.box2 {
    height: 300px;
  padding: 20px;
  background: rgb(228, 235, 236);
  margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 10%;
}

hr.solid {
    border-top: 3px solid #bbb;
}

header {
    text-align: center;
    color: #7820a5
}

p {
    text-indent: 5%;
}